body {
    background-color: #080808;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 17px;
}

.navDiv {
    position: fixed;
    z-index: 999;
}

.navbar{
  width:100%;
}

.rect{
  width: 100%;
  height: 3vh;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}

.kezdo1 {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/homegif.gif") no-repeat;
    background-size: cover;
    position: relative;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.jumbotron {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.homelogo {
    width: 150px;
}

.oldalTartalom {
    margin: 50px;
}

.content-image {
    width: 100%;
    border-radius: 25px;
}

.seperator {
    height: 50px
}

hr {
    width: 50%;
    margin: 0 auto;
}

.footer {
    color: gray;
}

.footer-left {
    text-align: right;
}

.footer-right {
    text-align: left;
}

.footerLink {
    text-decoration: none;
    color: gray;
    font-style: italic;
}

.footerLink:hover {
    color: #404040;
    transition: 0.3s;
}

.footerList {
    list-style-type: none;
}

.flex {
    display: flex;
}

@media screen and (max-width: 575px) {
    .footer-left {
        text-align: center;
    }
    .footer-right {
        text-align: center;
    }
}